body{
    font-family: sans-serif;
    font-size: 32px;
    background-color: #2b322b;
    color: #83f683;
}
main{
    width: 640px;
    min-height: 780px;
    margin: auto;
    padding: 24px;
    background-color: #1f1d1d;
}
footer{
    width: 640px;
    background-color: #000000;
    margin: auto;
    padding: 24px;
    color: #fff;
}
