body{
    background-color: #100707;
    color: #fff;
}

section{
    background-color: #0a2;
    margin: 40px;
    width: 768px; 
}
    article{
        border: 1px solid #ff0;
        margin: 24px;
    }

#segundo article{
    background-color: #000;
    padding: 16px;
}